<p id="statusMessage"></p>
<div id="pageWrapper">
        <div id="buttonWrapper">
                <a href=menu><button>Main Menu</button></a>
                <button (click)="resetAllFields()">Reset Form</button>
        </div>

        <div id="formWrapper">
                <form #kdaForm="ngForm" (ngSubmit)="kdaSubmit()">
                        <label for="char">Character Played: </label>
                        <select id="char" name="char" [(ngModel)]="selectedCharacter">
                                <option *ngFor="let char of leageCharacters" [value]="char">{{ char }}</option>
                        </select><br>

                        <label for="kills">Kills: </label>
                        <input type="number" [(ngModel)]="kills" name="kills" placeholder="0" min="0" id="kills" required>

                        <label for="deaths">Deaths: </label>
                        <input type="number" [(ngModel)]="deaths" name="deaths" placeholder="0" min="0" id="deaths" required>

                        <label for="assists">Assists: </label>
                        <input type="number" [(ngModel)]="assists" name="assists" placeholder="0" min="0" id="assists" required>
                        <button type="submit">Submit</button>
                </form>
        </div>
</div>

