#pageWrapper {
    display: flex;
    justify-content: center; /* center the child elements horizontally */
    height: 100vh; /* set the height of the container to the full viewport height */  
    align-items: center; /* center contents vertically */
}

#buttonWrapper {
    flex: 0;
    margin: 5px;
}

#formWrapper {
    flex: 0;
    margin: 5px;
}