<div id="pageWrapper">
        <div id="mainMenuWrapper">
                <a href=menu><button>Back to Main Menu</button></a>
        </div>

        <div id="signInAsWrapper">
                <p id="signedInAs">You are signed in as: {{ username }}</p>
        </div>

        <div id="statusMessageWrapper">
                <p id="statusMessage"></p>
        </div>

        <div id="formWrapper">
                <form id="form" #kdaForm="ngForm" (ngSubmit)="kdaSubmit()">
                        <label for="char">Character Played: </label>
                        <select id="char" name="char" [(ngModel)]="selectedCharacter">
                                <option *ngFor="let char of leageCharacters" [value]="char">{{ char }}</option>
                        </select><br>

                        <label for="winLoss">Win/Loss: </label>
                        <select [(ngModel)]="winLoss" name="winLoss" id="winLoss" required>
                                <option value="W">W</option>
                                <option value="L">L</option>
                        </select><br>

                        <label for="kills">Kills: </label>
                        <input type="number" [(ngModel)]="kills" name="kills" placeholder="0" min="0" id="kills" required><br>

                        <label for="deaths">Deaths: </label>
                        <input type="number" [(ngModel)]="deaths" name="deaths" placeholder="0" min="0" id="deaths" required><br>

                        <label for="assists">Assists: </label>
                        <input type="number" [(ngModel)]="assists" name="assists" placeholder="0" min="0" id="assists" required><br>
                        <button type="submit">Submit</button>
                        <button id="resetFormButton" type="button" (click)="resetAllFields(true)">Reset Form</button>
                </form>
        </div>

        <!-- Display the query results using Angular -->
        <div id="kdaBoardWrapper" *ngFor="let row of leagueGamesScoreboard">
                <table id="kdaBoard">
                        <tr>Displaying Last 5 Games:</tr>
                        <tr>
                                <th>Character</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Win/Loss</th>
                        </tr>
                        <tr *ngFor="let row of leagueGamesScoreboard">
                                <td>{{row[2]}}</td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
                                <td>{{row[7]}}</td>
                        </tr>
                </table>
      </div>      
</div>

